.product-card {
    max-width: 300px;
    cursor: pointer;
    margin: 30px 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s ease-in-out;

}

.product-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.card-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item p {
    font-size: 1rem;
    height: 1.4rem;
    overflow: hidden;
}

.cart-item-price {
    font-size: 1.5rem;
}

.cart-item-price::before {
    content: "$";
}

.product-description {
    margin: 10px 5px;
    text-align: center;
}

.product-description-type {
    margin: 10px 5px;
    text-align: center;
    font-style: italic;
    height: 45px;
}

.price-button-wrap {
    display: flex;
    justify-content: space-around;
}

.item-price {
    font-size: 1.5rem;
}

.item-price::before {
    content: "$";
}