@font-face {
    font-family: 'Planewalker';
    src: url('/fonts/Planewalker-38m6.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar-wrapper .nav-link,
#basic-nav-dropdown,
#basic-nav-dropdown .dropdown-toggle {
    color: white;
    font-family: 'Planewalker', sans-serif;
    font-size: 1.1rem;
}

.rarity-dropdown .dropdown-toggle::after {
    border-top-color: currentColor;
}

.rarity-dropdown.text-warning .dropdown-toggle::after {
    border-top-color: #ffc107;
}